.overview {
  padding: 16px;
  font-size: 0.95rem;
  line-height: 1.5;
}

.section-heading {
  padding: 16px;
  margin: 16px 0 0;
  font-size: 1.2rem;
  font-weight: 600;
}

ion-thumbnail {
  --size: 80px;
}