<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> G00485513 - Mobile Application Development </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goFavourites()">
        <ion-icon name="heart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="fixed">Search</ion-label>
    <ion-input
      [(ngModel)]="searchQuery"
      placeholder="Movie Name"
      (keyup.enter)="onSearch()"
    ></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="onSearch()">Search</ion-button>

  <!-- Display search results  -->
  <h2 class="section-heading">{{ heading }}</h2>

  <ion-list>
    <ion-item *ngFor="let movie of movies" (click)="openMovie(movie)">
      <ion-thumbnail slot="start">
        <img
          *ngIf="movie.poster_path"
          [src]="getPosterUrl(movie.poster_path)"
          alt="{{ movie.title }}"
        />
      </ion-thumbnail>


      <ion-label class="ion-text-wrap">
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.overview }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <p *ngIf="movies.length === 0" class="empty-state">No movies found. Try a different search.</p>
</ion-content>
